{% extends 'base.html.twig' %}

{% block title %}FINT | Réinitialisation de mot de passe {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%;}
        .example-wrapper a{
            color: white;
            font-size: 20px;
        }
        button[type="submit"]:hover{
            background: white;
            color: #e30719;
            font-weight: bold;
        }
        button[type="submit"]{
            text-decoration: none;
        }
        label{
            display: block !important; 
        }
        input{
            width: 100%;
        }
    </style>
<form method="post" class="example-wrapper">
        {% if app.flashes('user_null') is not empty %}
			<div class="container alert alert-danger">
            l'e-mail n'existe pas !
			</div>
		{% endif %}

    <img class="logoJet" src="{{ asset('build/images/LOGO JE Tunisia White.png') }}">
    
    <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de passe</h1>
        {{form_row(requestPassForm.email)}}
        <button type="submit" class="btn btn-danger">envoyer</button>
    
</form>
{% endblock %}
