{% extends 'base.html.twig' %}

{% block title %}Hello {{ entreprise.email }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container example-wrapper">
    <h1>{{ entreprise.email }}</h1>
</div>
{% endblock %}
