<p>Chèree Entreprise,
    Nous espérons que cet e-mail vous trouvera bien.
</p>
<p>

</p>

<p>
     
</p>

<div style="display:flex; align-items:center;">
<div>
<img src="{{ email.image('@images/JUNIOR.png') }}" alt="Logo" width="250" height="200">
</div>
<div style="margin-left: 3rem;">
    <p style="color:red;"><b></b></p>
    <p><b>Confédération Tunisienne des Junior Entreprises</b></p>
    <p><b>Tél: +216 50 523 925 | +216 27 905 188</b></p>
    <p><b>Confédération Tunisienne des Junior Entreprises</b></p>
    <p><b>Site Internet: <a href="www.jetunisie.com"> www.jetunisie.com </a></b></p>
</div>
</div>
