
{% extends 'base.html.twig' %}

{% block title %} FINT | CV | Ajouter votre certificat {% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <h1> Ajouter votre certificat</h1>
    {{ form(form) }}

</div>
{% endblock %}
