{% extends 'base.html.twig' %}

{% block title %}
	FINT | CV | Ajouter votre experience professionelle
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Ajouter votre experience professionelle
		</h1>

		{{ form(form) }}
			{% if form_errors(form) %}
				{{ form_errors(form) }}
			{% endif %}


			{#  <a href="/cv/addcertif"><button class="btn btn-warning" >ajouter une certificat</button></a>#}

		</div>
	{% endblock %}
